{% load static %}
{% if cards %}
{% for fotografia in cards %}
<li class="card">
    <a href="{% url 'imagem' fotografia.id %}">
        {% if fotografia.foto == '' or fotografia.foto == null %}
        <img class="card__imagem" src="{% static '/assets/imagens/galeria/img-not-found.png'%}" alt="foto">
        {% else %}
        <img class="card__imagem" src="{{ fotografia.foto.url }}" alt="foto">
        {% endif %}
    </a>
    <span class="card__tag">{{ fotografia.categoria }}</span>
    <div class="card__info">
        <p class="card__titulo">{{ fotografia.nome }}</p>
        <div class="card__texto">
            <p class="card__descricao">{{ fotografia.legenda }}</p>
            <span>
                <img src="{% static '/assets/ícones/1x/favorite_outline.png' %}" alt="ícone de coração">
            </span>
        </div>
    </div>
</li>
{% endfor %}
{% else %}
<li class="card">
        <img class="card__imagem" src="{% static '/assets/imagens/galeria/img-not-found.png'%}" alt="foto">
    <div class="card__info">
        <p class="card__titulo">Não encontramos nenhuma foto :/</p>
    </div>
</li>
{% endif %}